{% extends 'flatpages/default.html' %}
{% load custom_filters %}


{% block title %}
Responses
{% endblock title %}

{% block content %}


{% if responses %}
  <h2>Отклики на объявления пользователя {{ request.user.username }}:</h2>

      <p>Вводить дату в формате год-месяц-день: хххх-xx-xx</p>
    <!-- Перед таблицей добавим форму для поиска -->
    <form method="GET">
        {{ response_filter.form }} <!-- Форму от фильтров за нас сделает Django. А вот кнопку, увы, придётся делать самому -->
        <input type="submit" value="Найти">
    </form>

     <table>
            <tr>
                <td>
                    Дата
                </td>
                <td>
                    Заголовок объявления
                </td>
                <td>
                    Текст отклика
                </td>
                <td>
                    Пользователь
                </td>
            </tr>
        {% for response in response_filter.qs %}
            <tr>
                <td>
                    {{ response.dataResponse|date:'d.m.Y' }}
                </td>
                <td>
                    {{ response.postsResponse.title }}
                </td>
                <td>
                    {{ response.contentResponse }}
                </td>
                <td>
                    {{ response.userResponse }}
                </td>
                <td>
                    {% if response.accepted %}
                        Accepted
                    {% else %}
                        <a href="{% url 'accept_response' pk=response.pk %}">Accept</a>
                    {% endif %}
                        <a href="{% url 'delete_response' pk=response.pk %}">Delete</a>
                </td>
            </tr>
        {% endfor %}

        </table>

{% else %}
  <p>У вас пока нет откликов.</p>
{% endif %}

{% endblock %}