<!--  new наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}

<!-- Название у нас будет search -->
{% block title %} Search {% endblock title %}

<!-- -----------               -->
{% block content %}
    <style>
        table, th, td {
            border: 1px solid #dee2e6;
            border-collapse: collapse;
        }
    </style>
    <h2>Поиск объявлений</h2>

    <p>Вводить дату в формате год-месяц-день: хххх-xx-xx</p>
    <!-- Перед таблицей добавим форму для поиска -->
    <form method="GET">
        {{ filter.form }} <!-- Форму от фильтров за нас сделает Django. А вот кнопку, увы, придётся делать самому -->
        <input type="submit" value="Найти">
    </form>
 <table>
            <tr>
                <td>
                    Дата
                </td>
                <td>
                    Заголовок
                </td>
                <td>
                    Текст
                </td>
                <td>
                    Категория
                </td>
                <td>
                    Автор
                </td>
            </tr>
        {% for post in filter.qs %}
            <tr>
                <td>
                    {{ post.dataCreation|date:'d.m.Y' }}
                </td>
                <td>
                    <a href="{% url 'post' post.id %}">{{ post.title|censor }}</a>
                </td>
                <td>
                    {{ post.contentText|truncatechars:50|censor }}
                    {% if post.contentImage %}
                        <img width="200" src="{{ post.contentImage.url }}" alt="Изображение">
                    {% endif %}
                    {% if post.contentFile %}
                        <a href="{{ post.contentFile.url }}">Скачать файл</a>
                    {% endif %}
                </td>
                <td>
                    {{ post.categoryType }}
                </td>
                <td>
                    {{ post.user }}
                </td>
            </tr>
        {% endfor %}

        </table>

     <!-- Проверяем что поддерживается постраничный вывод -->
        {% if is_paginated %}

            <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
            {% if page_obj.has_previous %}
                <a href="?page=1">First</a>
                <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
            {% endif %}

            <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a>{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">>>></a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}

        {% endif %}

{% endblock content %}