<!--  new наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}

<!-- Название у нас будет search -->
{% block title %} Search {% endblock title %}

<!-- -----------               -->
{% block content %}

    <h2>Поиск объявлений</h2>

    <p>Вводить дату в формате год-месяц-день: хххх-xx-xx</p>
    <!-- Перед таблицей добавим форму для поиска -->
    <form method="GET">
        {{ filter.form }} <!-- Форму от фильтров за нас сделает Django. А вот кнопку, увы, придётся делать самому -->
        <input type="submit" value="Найти">
    </form>
 <table>
            <tr>
                <td>
                    Дата
                </td>
                <td>
                    Заголовок
                </td>
                <td>
                    Текст
                </td>
                <td>
                    Категория
                </td>
                <td>
                    Автор
                </td>
            </tr>
        {% for post in filter.qs %}
            <tr>
                <td>
                    {{ post.dataCreation|date:'d.m.Y' }}
                </td>
                <td>
                    {{ post.title|censor }}
                </td>
                <td>
                    {{ post.contentText|truncatechars:50|censor }}
                    {{ post.contentImage }}
                    {{ post.contentFile }}
                </td>
                <td>
                    {{ post.categoryType }}
                </td>
                <td>
                    {{ post.user }}
                </td>
            </tr>
        {% endfor %}

        </table>

{% endblock content %}